.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  .header__block--logo {
    width: 50px;
    height: auto;
  }
  .nav {
    margin-left: auto;
  }
  .nav li {
    margin-right: 1px;
    display: inline-block;
    justify-content: right;
  }
  .nav a {
    text-decoration: none;
    color: rgb(250, 250,250);
    font-size: 8px;
  }
  .main_title {
    font-size: 16px;
    color: rgb(250, 250,250);

  }
  .main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    height: 314px;
  }
  .main__container--article {
    width: 50%;
    margin: 10px;
    padding-bottom: 100px;
  }
  .main__container--ads {
    width: 48%
  }
  
